body {
  font-family: 'Lato', sans-serif;
    text-align: center;
}

.header{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.main_text{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

#row_header {
    overflow:hidden;
    width:100%;
    border-bottom: solid;
    border-width: 1px;
}

.row {
    overflow:hidden;
    width:100%;
}

.cell_header {
    width:12%;
    float:right;
    text-align: center;
}

.cell {
    width:12%;
    float:right;
    text-align: center;
    border-bottom: dashed;
    border-width: 1px;

}


#home_buttons {
   margin: 0px auto;
    text-align: center;
}

.button {
    font-size: 30px;
    background-color: #517878;
    color: #fbf9d6;
    border: 20px;
    margin: 10px auto;
    text-align:center;
	text-decoration:none;
    font-family: 'Alegreya Sans SC', sans-serif;
    display:inline-block;
    max-width: 50%;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

button a {
  text-decoration: none;
   color: #fbf9d6;
}

button a:visited{
    text-decoration: none;
    color: #fbf9d6;
}

button a:hover{
    color: floralwhite;
    font-family: 'Alegreya Sans SC', sans-serif;

}